body {
  background-color: #f0f5ff; /* Light blue background color */
  font-family: "Roboto", sans-serif; /* Set the default font to Roboto */
}

h1 {
  font-family: "Tektur", sans-serif; /* Set the font for h1 to Tektur */
}

.container {
  max-width: 800px; /* Increase the width of the outer box */
  margin: 0 auto;
  padding: 20px;
}

.card {
  margin-top: 30px;
  background-color: #ffffff; /* White background color for the card */
  border-radius: 8px;
  border: 1px solid #dddddd;
}

.card-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 30px;
}

.input-label {
  font-weight: bold;
  text-align: center; /* Center the label text */
}

.input-subtext {
  text-align: center; /* Center the "OR" text */
}

.form-control-lg {
  width: 100%; /* Increase the width of the text inputs and URL inputs */
}

.btn-lg {
  width: 100%; /* Increase the width of the "Summarize this" button */
}

.summarino-box {
  margin-top: 30px;
  border-radius: 8px;
  border: 1px solid #dddddd;
  padding: 20px;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

#summary-container {
  width: 100%; /* Increase the width of the output box */
  height: 300px; /* Increase the height of the output box */
  background-color: transparent; /* Remove the background color */
}

#summary-container:focus {
  outline: none;
}
